.container {
  max-width: 130rem;
  margin: auto 0;
}

.heading-primary {
  color: #fff;
}

.button-container {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    justify-content: space-between;
  }
}
.btn {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
.btn-theme-switcher {
  padding: 0.68em 1.6em;
  border: none;
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  border-radius: 1rem;
  position: relative;

  &:hover .btn-circle {
    background-color: hsl(228, 28%, 35%);
  }
}
.button-text {
  margin-right: 1rem;
}

.btn-circle {
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
  background-color: var(--color-bg-very-dark-blue-top);
  position: absolute;
  top: 2px;
  left: 3px;
  transition: all 0.2s;
}
